{% extends 'base.html.twig' %}

{% block aside_nav %}
    <h3>{% trans %}Kategorie{% endtrans %}</h3>
    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('category_show', { 'category': category.shortName }) }}">{{ category.title }}</a>
                {% if currentCategory is defined %}
                    {% if category == currentCategory %}
                        <ul>
                            {% for page in category.pages %}
                                <li><a href="{{ path("page_show", {"category":category.shortName, "page":page.shortName }) }}">{{ page.title}}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
{% block body %}
<div class="section">
    <h1>{% block title %}{{category.title}}{% endblock %}</h1>
     {% for page in category.pages %}
       <a href="{{ path("page_show", {"category":category.shortName, "page":page.shortName }) }}">
            <div class="puzzle-box">
				<div class="puzzle-image">
                    <img class="default_questionImage" src={{ asset('/img/klodka.png') }}>
                 
                </div>
                <div class="puzzle-title">
                    <p>{{ page.title }}</p>
                </div>
            </div>
        
        </a>
       
    {%  endfor %}
   
</div>
{% endblock %}
