<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,100' rel='stylesheet' type='text/css'>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <div class="wrapper">
        <header>
            <nav>
                <ul>
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}

                        {% if is_granted("ROLE_ADMIN") %}
                            <li><a href="{{ path("admin") }}">{% trans %}Admin{% endtrans %}</a> </li>
                        {% endif %}
                        <li><a href="{{ path("fos_user_profile_show") }}">{{ app.user.username }} <i class="fa fa-user"></i></a> </li>
                        <li><a href="{{ path("fos_user_security_logout") }}">{% trans %}Wyloguj{% endtrans %}</a> </li>
                    {% else %}
                        <li><a href="{{ path("fos_user_security_login") }}">{% trans %}Logowanie{% endtrans %}</a> </li>
                        <li><a href="{{ path("fos_user_registration_register") }}">{% trans %}Rejestracja{% endtrans %}</a> </li>
                    {% endif %}
                    <li><a href="{{ path("puzzle_index") }}">{% trans %}Zagadki{% endtrans %}</a> </li>
                    <li><a href="{{ path("category_index") }}">{% trans %}Artykuły{% endtrans %}</a> </li>
                    <li><a href="{{ path("about") }}">{% trans %}O serwisie{% endtrans %}</a> </li>
                </ul>
            </nav>
            <div class="banner">
                <a href="{{ path("homepage") }}"><img class="logo" src={{ asset('/img/raakieta.png') }}></a>

            </div>
        </header>
        <div class="content">
            <aside>
                <nav>
                    {% block aside_nav %}
                    <h3>{% trans %}Kategorie{% endtrans %}</h3>
                    <ul>
                        {{ render(controller(
                        'AppBundle:Category:categoriesList'
                        )) }}
                    </ul>

                    {% endblock %}
                </nav>
            </aside>
            <main>
                <article>
                    {% block body %}{% endblock %}
                </article>
            </main>
        </div>
        <div class="push"></div>
    </div>
    <div class="footer">
        <footer>
            <ul>
                <li><a href="">Kontakt</a> </li>
                <li><a href="">Bibliografia</a> </li>
            </ul>
        </footer>
    </div>
        {% block javascripts %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    </body>
</html>
