<h3>Panel administracyjny</h3>
<ul><li>
        Kategorie
        <ul>
            <li><a href="{{ path("category_new") }}">Dodaj kategorię</a></li>
            <li><a href="{{ path("admin_category_index") }}">Wyświetl kategorie</a></li>
        </ul>
    </li>
    <li>
        Artykuły
        <ul>
            <li><a href="{{ path("page_new") }}">Dodaj artykuł</a></li>
            <li><a href="{{ path("admin_page_index") }}">Wyświetl artykuły</a></li>
        </ul>
    </li>
    <li>
        Zagadki
        <ul>
            <li><a href="{{ path("puzzle_new") }}">Dodaj zagadkę</a></li>
            <li><a href="{{ path("admin_puzzle_index") }}">Wyświetl zagadki</a></li>
        </ul>
    </li>
    <li>
        Obrazki
        <ul>
            <li><a href="{{ path("upload_picture") }}">Dodaj obrazki</a></li>
            <li><a href="{{ path("picture_index") }}">Wyświetl obrazki</a></li>
        </ul>
    </li>
</ul>