{% extends 'base.html.twig' %}
{% block headtitle %}{% trans %}Kategorie -Panel administracyjny{% endtrans %}{% endblock %}
{% block aside_nav %}
    {{ include('default/adminNavigation.html.twig') }}
{% endblock %}

{% block body %}

<div class="section">
    <h1>{% block title %}{% trans %}Artykuły - panel administracyjny{% endtrans %}{% endblock %}</h1>

    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Nazwa</th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}.</td>
                <td><a href="{{ path('page_show', { 'category':page.category.shortName ,'page': page.shortName }) }}">{{ page.title }}</a></td>
                <td>
                    <a class="action" href="{{ path('page_edit', { 'id': page.id }) }}">Edytuj</a>
                    <a class="action delete"  href="{{ path('page_delete', { 'id': page.id}) }}">Usuń</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="action" href="{{ path('page_new') }}">Dodaj nową kategorię</a>
</div>




{% endblock %}
