{% extends 'base.html.twig' %}

{% block aside_nav %}
    <h3>{% trans %}Kategorie{% endtrans %}</h3>
    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('category_show', { 'category': category.shortName }) }}">{{ category.title }}</a>
                {% if currentCategory is defined %}
                    {% if category == currentCategory %}
                        <ul>
                            {% for page in category.pages %}
                                <li><a href="{{ path("page_show", {"category":category.shortName, "page":page.shortName }) }}">{{ page.title}}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}


{% block body %}
    <h1>Page</h1>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>Shortname</th>
                <td>{{ page.shortName }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ page.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ page.body |raw}}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('page_edit', { 'id': page.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(deleteForm) }}
                <input type="submit" value="Delete">
            {{ form_end(deleteForm) }}
        </li>
    </ul>
{% endblock %}
